@page
@model CreeGuanajuato.Pages.estados.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado.nombre_estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.nombre_estado)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Estado.id_estado" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
