@page
@model CreeGuanajuato.Pages.Roles.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar el rol?</h3>
<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreeGuanajuatoRole.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CreeGuanajuatoRole.Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
