@{ 
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<style>
    .navbar-inverse {
        background-color: #285B81;
        border-color: #285B81;
    }
</style>

<h2>Configuración de la cuenta</h2>

<div>
    <h4>Modificar su Configuración personal</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
