@page
@model CreeGuanajuato.Pages.Municipios.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar el registro?</h3>
<div>
    <h4>Municipio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipio.nombre_municipio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipio.nombre_municipio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Municipio.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipio.Estado.cve_agee)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Municipio.id_municipio" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
