@page
@model CreeGuanajuato.Pages.Escolaridades.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Escolaridad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Escolaridad.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Escolaridad.nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Escolaridad.id_escolaridad">Modificar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
